@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}  */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* CUSTOM CURSOR */

.cursor-dot{
  width: 5px;
  height: 5px;
  background-color:hsla(0, 0%, 0%, 0.5); 
}

.cursor-outline{
  width: 32px;
  height: 32px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.cursor-dot,
.cursor-outline{
  position:fixed;
  top:0;
  left:0;
  transform: translate(-50%,-50%);
  border-radius:50%;
  z-index:1;
  pointer-events:none;
}

/* CUSTOM CURSOR END  */


/* HAMBURGER ICON */

#nav-icon1 {
   width: 42px;
   height: 100%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background:white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 18px;
}

#nav-icon1 span:nth-child(2) {
  top: 30px;
}

#nav-icon1 span:nth-child(3) {
  top: 42px;
}

#nav-icon1.open span:nth-child(1) {
  top: 30px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 30px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


@keyframes growDown {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes growUp {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

/* HAMBURGER ICON END */



/* BLOP ANIMATION */

.blob_1 {
  background: url("/portrait.JPG") center center;
  background-size: cover;
  border-radius:69% 31% 70% 30% / 30% 70% 30% 70%;
  animation: blob_1 5s linear infinite;
}

@keyframes blob_1 {
  0%,100% {
  border-radius:69% 31% 70% 30% / 30% 70% 30% 70%;
  }
  30% {
    border-radius:42% 58% 15% 85% / 65% 83% 17% 35% ;
  }
  50% {
    border-radius:42% 58% 48% 52% / 77% 29% 71% 23% ;
  }
}
/* BLOP ANIMATION END */



/* FADE IN LEFT ANIMATION  */

.in-left {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -o-animation-duration:500ms;
  animation-delay: 500ms;
}


@keyframes fadeInLeft {
  0% {
     opacity: 0;
     transform: translateX(-40px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}   

/* FADE IN LEFT ANIMATION END  */
